<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        hello Happy Life!
      </h1>
      <h2 class="subtitle">
        <%= current_user.organisation.nom if current_user %>
      </h2>
    </div>
  </div>
</section>
<br>