<nav class="breadcrumb is-medium has-bullet-separator" aria-label="breadcrumbs">
  <ul>
    
    <li>
      <%= link_to "Home", root_path %>
    </li>

    <li class="is-active">
      <a href="#">
        <% if params[:action] == 'groupe' %>
            Groupe '<%= @groupe.nom %>'
        <% elsif params[:action] == 'admin' %>
            Admin
        <% end %>
      </a>
    </li>

  </ul>
</nav>