<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li class="<%= 'is-active' if params[:action] == 'home' %>">
        <%= link_to "Home", root_path %>
    </li>
    <li class="<%= 'is-active' if params[:action] == 'groupe' %>">
        <% if params[:action] == 'groupe' %>
            <a href="#">Groupe</a>
        <% end %>
    </li>
  </ul>
</nav>