
<nav class="breadcrumb is-medium" aria-label="breadcrumbs">
<h3 class="subtitle is-3">

  <ul>
    
    <li>
      <%= link_to "Activités", root_path %>
    </li>

    <% if ['groupe','admin'].include?(params[:action]) %>
      <li class="is-active">
        <a href="#">
          <%= @groupe ? @groupe.nom : "Administration" %>
        </a>
      </li>
    <% end %>

  </ul>
</h3>
</nav>

