<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <%= image_tag local_assigns[:avatar] %>
        </p>
    </figure>

    <div class="media-content">
        <div class="content">
            <p>
                <strong><%= local_assigns[:name] %></strong> <small>31m</small>
                <br>
                <%= local_assigns[:message] %>
            </p>
        </div>
    </div>

    <div class="media-right">
        <button class="delete is-small"></button>
    </div>
</article>