<section class="hero is-info is-small">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        <small>
            <i style="text-align: center;">
                Site de démonstration.
                <%= link_to "En savoir plus...", pages_about_url %>
            </i>
        </small>
      </h2>
    </div>
  </div>
</section>
