<div class="card">

    <header class="card-header">
        <div class="content">
            <p class="card-header-title">
                <%= groupe.activité.nom %></i>
            </p>
        </div>
    </header>

    <div class="card-image">
        <figure class="image is-4by3">
            <%= image_tag "#{groupe.activité.nom.downcase.gsub(' ', '-')}.jpg", alt: "Placeholder image" %>
        </figure>
    </div>
    
    <div class="card-content">
        <%= groupe.nom %>
    </div>

    <% unless params[:groupe_id] %>
        <footer class="card-footer">
            <%= link_to "En savoir plus...", pages_groupe_path(groupe_id: groupe.id), class: "card-footer-item" %>
        </footer>
    <% end %>

</div>
