<% if @groupe.sorties.any? %>
    <ul>
        <li>
            <b><%= l(@groupe.sorties.last.le, format: :long) %></b>
            <br> 
            <%= @groupe.sorties.last.lieu %>
        </li> 
    </ul>
    <figure class="image is-2by1">
        <%= image_tag "https://parisbytrain.com/wp-content/uploads/2011/07/snapshot-2011-07-18-09-31-26.jpg" %>
    </figure>
<% end %>
