<h1 class="title">A propos de la plateforme</h1>

<div class="content">
    <ul>   
        <li>Cette plateforme est utilisable depuis un PC ou un smartphone (Reponsive Design + PWA Stage1)</li>  
        <li>Un utilisateur peut s'incrire et se connecter au service simplement avec un email et mot de passe</li>
        <li>Une fois connecté, l'utilisateur peut rejoindre un groupe de son choix</li>
        <li>Un utilisateur peut être membre de plusieurs groupes</li>
        <li>Un utilisateur peut lancer une discussion</li>
        <li>Les discussions des membres d'un groupe sont visibles par tous les membres de ce groupe</li>
        <li>Plusieurs membres d'un groupe peuvent avoir une discussion en temps réel (Chat like)</li>
        <li>Un utilisateur ayant le rôle "administrateur" peut gérer les groupes et les sorties</li>
        <li>Le code source Ruby on Rails de la plateforme est <%= link_to "librement disponible sur GitHub", "https://github.com/philippe-nougaillon/Hello", target: "_blank" %></li>
    </ul>
</div>

<h4 class="title is-4">Ce qu'il reste à implementer</h1>

<div class="content">
    <ul> 
        <li>Notifier les membres quand il y a de l'activité dans leurs groupes (nouvelle discussion, nouveau membre, nouvelle sortie prévue)</li>
        <li>Une gestion plus fine du Workflow</li>
        <li>Gestion des droits selon le profil du membre connecté</li> 
    </ul>
</div>
