<h1 class="title">Happy Life!</h1>
<h1 class="subtitle">Qui ne s’est jamais dit : "j’aimerais bien faire une activité sportive mais j’aimerais pouvoir le faire avec quelqu’un !" ?</h1>

<div class="content">

    Les raisons peuvent être variées ; se motiver à plusieurs,
    rechercher à renouveler/partager son expérience sportive afin de
    s’améliorer et/ou tout simplement agrandir son cercle de
    connaissances et pourquoi pas d’amis.

    Tout simplement pour se créer des moments de Happylife :)
</div>

<h1 class="title">A propos de l'application</h1>
<h4 class="title is-4">L’application devrait permettre</h1>

<div class="content">
    <ul>
        <li>De se créer un compte avec uniquement un mail (@happylifesport.fun) et
        un mobile</li>

        <li>L’identification devrait se faire par un ID (qui sera modifiable lors de la
        première connexion [Alphanumérique]). Cet ID sera envoyé par la
        solution lors de la création de compte, et ensuite lors du login avec cet
        ID, le membre reçoit par SMS un identifiant sur le moment pour pouvoir
        accéder au service de l’application et du site</li>

        <li>De ne pas stocker les données des personnes inscrites sur le serveurs !
        Question de sécurité et pour éviter de gérer le RGPD</li>

        <li>D’avoir une page d’accueil permettant de voir le nombre d’inscrits et de
        participants aux activités proposées sur différentes périodes ; le jour
        même, la semaine avenir et le mois prochain</li>

        <li>De voir les activités sportives qui ont le plus de participants</li>

        <li>Proposer des activités sportives (selon une liste prédéfinie), date, heure,
        durée, niveau de pratique (initiation, perfectionnement, avancé), nombre
        de participant souhaité/minimum</li>

        <li>D’avoir des flux d’actualités sur les différents sports proposés</li>

        <li>D’avoir un fil de discussions sur cette proposition d’activité sportive</li>

        <li>L'application est accessible aussi bien d’un pc que d’un smartphone, quelque soit son système d’exploitation et navigateur Internet</li>
    </ul>
</div>

<h4 class="title is-4">Ce que ce MVP d'application permet à ce jour :</h1>

<div class="content">
    <ul>   
        <li>L'application est utilisable depuis un PC ou un smartphone (Reponsive Design + PWA Stage1)</li>  
        <li>Un utilisateur peut s'incrire et se connecter au service simplement avec un email et mot de passe</li>
        <li>Une fois connecté, l'utilisateur peut rejoindre un groupe de son choix</li>
        <li>Un utilisateur peut être membre de plusieurs groupes</li>
        <li>Les discussions d'un groupe ne sont visibles que par les membres de ce groupe</li> 
        <li>Seul un utilisateur ayant le rôle "administrateur" peut gérer les groupes</li>
    </ul>
</div>

<h4 class="title is-4">Ce qu'il reste à implementer</h1>

<div class="content">
    <ul> 
        <li>Les discussions</li>
        <li>La mise à jour en temps réel des discussions (ActionCable)</li>
        <li>Les sorties</li>
        <li>Notifier les membres quand il y a de l'activité dans leurs groupes (nouvelle discussion, nouveau membre, nouvelle sortie prévue)</li>
        <li>Une gestion plus fine du Workflow</li>
        <li>Gestion des droits selon le profil du membre connecté</li> 
    </ul>
</div>

<h4 class="title is-4">Code source</h4>

Le code source Ruby est librement disponible sur 
<%= link_to "GitHub", "https://github.com/philippe-nougaillon/Hello", target: "_blank" %>

<%= image_tag "https://d33wubrfki0l68.cloudfront.net/a64bd0d3f81aca9dfaea96c8e6f9aa4422288b92/4f086/images/github-mark-64px.png", size: "30x30" %>
