<h1 class="title">
    A propos de la plateforme<br>
    <div class="subtitle">
        <br>
        La vocation de cette plateforme est de réunir ses membres autour d'activités sportives
    </div>
</h1>

<h4 class="title is-4">User stories</h4>

<div class="content">
    <ul>   
        <li>Un utilisateur peut s'incrire et se connecter simplement avec un email et mot de passe</li>
        <li>Une fois connecté, l'utilisateur peut rejoindre les groupes de son choix</li>
        <li>Un utilisateur peut être membre d'un ou de plusieurs groupes</li>
        <li>Un utilisateur peut lancer une discussion dans un groupe</li>
        <li>Les discussions des membres d'un groupe ne sont visibles que par les membres du groupe</li>
        <li>Les discussions sont en temps réel, comme dans une messagerie instantanée ou 'Chat'</li>
        <li>Un utilisateur ayant le rôle 'administrateur' peut gérer les groupes et les sorties</li>
        <li>Cette plateforme est utilisable depuis un PC et un smartphone (Reponsive Design + PWA Stage1)</li>  
        <li>Le code source Ruby on Rails de la plateforme est <%= link_to "librement disponible sur GitHub", "https://github.com/philippe-nougaillon/hello-happy-life", target: "_blank" %></li>
    </ul>
</div>

<h4 class="title is-4">Ce qu'il reste à implémenter</h4>

<div class="content">
    <ul> 
        <li>Notifier les membres de l'activité dans leurs groupes (nouvelle discussion, nouveau membre, nouvelle sortie prévue)</li>
    </ul>
</div>
