<div class="columns">
    
    <div class="column">
        <%= render "partials/groupe", groupe: @groupe %>
    </div>

    <div class="column">
        <h1 class="title">
            Membres
        </h1>

        <ul>
            <% @groupe.users.each do | user | %>
                <li><%= user.email %></li>
            <% end %>
        </ul>
        <br>
        <% unless @groupe.users.include?(current_user)  %>
            <%= link_to "Rejoindre ce groupe", pages_groupe_path(groupe_id: @groupe.id, rejoindre: true), class: "button is-primary" %>
        <% end %>

        <h1 class="title">
            <br />
            Prochaine rencontre
        </h1>
        <ul>
            <li>01/12/2020 - Paris 20</li>
        </ul>
    </div>

    <div class="column">
        <h1 class="title">
            Discussions
        </h1>

        <% if @groupe.users.include?(current_user) %> 
            <%= render "partials/discussions" %>
        <% else %>
            <p>
                Prenez part aux conversations du groupe en vous connectant.
            </p>
        <% end %>
    </div>

</div>

