<%= render "partials/activités" %>

<h3 class="subtitle is-3">
  Groupes
</h3>

<div class="columns is-multiline is-mobile">
  <% @groupes.each do | groupe | %>
    <div class="column is-one-third-desktop is-one-third-tablet is-full-mobile">
      <%= render "partials/groupe", groupe: groupe %>
    </div>
  <% end %>
</div>
