<h1 class="title">
  Activités
</h1>

<%= render "partials/activités" %>

<h1 class="title">
  Groupes
</h1>

<div class="container">
  <div class="columns is-multiline is-mobile">
    <% @groupes.each do | groupe | %>
      <%= render "partials/groupe", groupe: groupe %>
    <% end %>
  </div>
</div>
